USE [master]
GO
/****** Objeto: Database [MaiTiendaDB] Fecha de script: 29/6/2026 21:08:05 ******/
CREATE DATABASE [MaiTiendaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MaiTiendaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MaiTiendaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MaiTiendaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MaiTiendaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MaiTiendaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MaiTiendaDB]
GO
/****** Objeto: Table [dbo].[Bitacora] Fecha de script: 29/6/2026 21:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[NombreUsuario] [nvarchar](50) NULL,
	[Perfil] [nvarchar](50) NULL,
	[Accion] [nvarchar](255) NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ItemCarrito] Fecha de script: 29/6/2026 21:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCarrito](
	[IdUsuario] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_ItemCarrito] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Producto] Fecha de script: 29/6/2026 21:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Categoria] [nvarchar](50) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[ImagenUrl] [nvarchar](250) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 29/6/2026 21:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Estado] [int] NOT NULL,
	[Perfil] [int] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([IdBitacora], [IdUsuario], [NombreUsuario], [Perfil], [Accion], [Fecha]) VALUES (1, 2, N'admin', N'Administrador', N'Inicio de sesion', CAST(N'2026-05-23T01:38:16.680' AS DateTime))
INSERT [dbo].[Bitacora] ([IdBitacora], [IdUsuario], [NombreUsuario], [Perfil], [Accion], [Fecha]) VALUES (2, 2, N'admin', N'Administrador', N'Cierre de sesión', CAST(N'2026-05-23T01:39:00.817' AS DateTime))
INSERT [dbo].[Bitacora] ([IdBitacora], [IdUsuario], [NombreUsuario], [Perfil], [Accion], [Fecha]) VALUES (3, 2, N'admin', N'Administrador', N'bloqueado por intentos fallidos', CAST(N'2026-05-23T01:48:02.380' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[ItemCarrito] ([IdUsuario], [IdProducto], [Cantidad]) VALUES (4, 6, 1)
INSERT [dbo].[ItemCarrito] ([IdUsuario], [IdProducto], [Cantidad]) VALUES (4, 8, 1)
INSERT [dbo].[ItemCarrito] ([IdUsuario], [IdProducto], [Cantidad]) VALUES (4, 9, 1)
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Categoria], [Precio], [ImagenUrl], [Descripcion], [Stock]) VALUES (1, N'AMD Ryzen 5 7600X', N'Procesadores', CAST(315000.00 AS Decimal(18, 2)), N'~/Assets/Images/procesadores.png', N'6 núcleos y 12 hilos, arquitectura Zen 4 para gaming de gran relación precio-rendimiento.', 15)
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Categoria], [Precio], [ImagenUrl], [Descripcion], [Stock]) VALUES (2, N'AMD Ryzen 9 7900X', N'Procesadores', CAST(545000.00 AS Decimal(18, 2)), N'~/Assets/Images/procesadores.png', N'12 núcleos y 24 hilos, ideal para creadores de contenido y multitarea pesada.', 10)
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Categoria], [Precio], [ImagenUrl], [Descripcion], [Stock]) VALUES (3, N'AMD Ryzen 9 7950X3D', N'Procesadores', CAST(890000.00 AS Decimal(18, 2)), N'~/Assets/Images/procesadores.png', N'16 núcleos con tecnología 3D V-Cache para rendimiento insuperable en juegos y diseño.', 6)
GO
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Password], [Estado], [Perfil], [IntentosFallidos]) VALUES (2, N'admin', N'9OLpYTIUZMLjCSmdbI/Xk6JcvXvaRcvw9MeyhFXx3ZNDukFfkEptblmQeMnaMPiF', 1, 2, 0)
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Password], [Estado], [Perfil], [IntentosFallidos]) VALUES (3, N'web', N'AvF+jNpK5yqNIUkm6RxDVz/wbyyVLxkKJZMA+NS+95r6EOPoz7xG2eMcnAfCK7CA', 1, 1, 0)
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Password], [Estado], [Perfil], [IntentosFallidos]) VALUES (4, N'cliente', N'asXKWNihYerVdKh7ZI6YsRLQawhe4U0Ko6e+JVqCLCkRa5ABKUVsg30L5kDqO+79', 1, 3, 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[ItemCarrito] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[ItemCarrito]  WITH CHECK ADD  CONSTRAINT [FK_ItemCarrito_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemCarrito] CHECK CONSTRAINT [FK_ItemCarrito_Producto]
GO
ALTER TABLE [dbo].[ItemCarrito]  WITH CHECK ADD  CONSTRAINT [FK_ItemCarrito_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemCarrito] CHECK CONSTRAINT [FK_ItemCarrito_Usuario]
GO
USE [master]
GO
