USE [master]
GO
/****** Objeto: Database [MaiTiendaDB] Fecha de script: 23/5/2026 02:14:20 ******/
CREATE DATABASE [MaiTiendaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MaiTiendaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MaiTiendaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MaiTiendaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MaiTiendaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MaiTiendaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MaiTiendaDB]
GO
/****** Objeto: Table [dbo].[Bitacora] Fecha de script: 23/5/2026 02:14:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[NombreUsuario] [nvarchar](50) NULL,
	[Perfil] [nvarchar](50) NULL,
	[Accion] [nvarchar](255) NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 23/5/2026 02:14:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Estado] [int] NOT NULL,
	[Perfil] [int] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([IdBitacora], [IdUsuario], [NombreUsuario], [Perfil], [Accion], [Fecha]) VALUES (1, 2, N'admin', N'Administrador', N'Inicio de sesion', CAST(N'2026-05-23T01:38:16.680' AS DateTime))
INSERT [dbo].[Bitacora] ([IdBitacora], [IdUsuario], [NombreUsuario], [Perfil], [Accion], [Fecha]) VALUES (2, 2, N'admin', N'Administrador', N'Cierre de sesión', CAST(N'2026-05-23T01:39:00.817' AS DateTime))
INSERT [dbo].[Bitacora] ([IdBitacora], [IdUsuario], [NombreUsuario], [Perfil], [Accion], [Fecha]) VALUES (3, 2, N'admin', N'Administrador', N'bloqueado por intentos fallidos', CAST(N'2026-05-23T01:48:02.380' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Password], [Estado], [Perfil], [IntentosFallidos]) VALUES (2, N'admin', N'9OLpYTIUZMLjCSmdbI/Xk6JcvXvaRcvw9MeyhFXx3ZNDukFfkEptblmQeMnaMPiF', 1, 2, 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
USE [master]
GO
