<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Site.master.cs" Inherits="SiteMaster" %>

<!DOCTYPE html>

<html lang="es">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - MaiTienda</title>

<link href="Content/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="Content/Site.css" rel="stylesheet" type="text/css" />
<link href="Content/app.css?v=2" rel="stylesheet" type="text/css" />
<script src="Scripts/modernizr-2.8.3.js"></script>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <asp:Panel ID="pnlNavbar" runat="server">
            <nav class="navbar g-navbar navbar-fixed-top" style="display: block !important; position: fixed !important; z-index: 9999 !important;">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" runat="server" href="~/Default.aspx">MaiTienda</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a runat="server" href="~/QuienesSomos.aspx">Quiénes Somos</a></li>
                            <li id="liBitacora" runat="server"><a runat="server" href="~/Bitacora.aspx">Bitácora</a></li>
                            <li id="liBackup" runat="server"><a runat="server" href="~/Backup.aspx">Backup</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li id="liCarrito" class="nav-item">
                                <a href="Carrito.aspx" class="nav-link" style="display: flex; align-items: center; gap: 8px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#7c3aed" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: inline-block; vertical-align: middle;">
                                        <circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle>
                                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                                    </svg>
                                    <span style="vertical-align: middle;">Carrito</span>
                                    <span id="lblCarritoContador" runat="server" class="badge" style="background-color: #7c3aed; color: #ffffff; font-family: 'Orbitron', sans-serif; vertical-align: middle;">0</span>
                                </a>
                            </li>
                            <li id="liLogin" runat="server"><a runat="server" href="~/Login.aspx">Iniciar sesión</a></li>
                            <li id="liLogout" runat="server"><asp:LinkButton ID="btnNavLogout" runat="server" OnClick="btnNavLogout_Click">Cerrar sesión</asp:LinkButton></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </asp:Panel>


        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var logueado = typeof usuarioLogueado !== 'undefined' ? usuarioLogueado : false;
            if (!logueado) {
                var carritoLocal = JSON.parse(localStorage.getItem('carrito')) || [];
                var lblContador = document.getElementById('lblCarritoContador') || document.querySelector('[id*="lblCarritoContador"]');
                if (lblContador) {
                    lblContador.innerText = carritoLocal.length.toString();
                }
            }
        });
    </script>
</body>
</html>
